<h1>{{mensaje}}</h1>

<a id="botonCerrarSesion" href="/admin/login/logout">CERRAR SESION</a>

<h2>Eliminar novedad</h2>

<form id="formularioNovedad" action="/admin/novedades/eliminar/{{novedad.id_novedad}}" method="post">

    <p><input type="text" disabled value="{{novedad.id_novedad}}"></p>
    <p><input type="text" name="tituloNovedad" disabled value="{{novedad.titulo}}"></p>
    <p><input type="text" name="subtituloNovedad" disabled value="{{novedad.subtitulo}}"></p>
    <p><textarea name="contenidoNovedad" cols="30" rows="10" maxlength="5000" disabled>{{novedad.contenido}}</textarea></p>
    <p><input type="text" disabled value="{{novedad.fecha}}"></p>
    <p><input type="submit" value="ELIMINAR"></p>

</form>

<a id="botonCancelar" href="/admin/novedades">CANCELAR</a>