<h1>{{mensaje}}</h1>

<a id="botonCerrarSesion" href="/admin/login/logout">CERRAR SESION</a>

<h2>Novedades cargadas</h2>

<a id="botonCargarNovedad" href="/admin/novedades/cargar">CARGAR NOVEDAD</a>

{{#if tablaVacia}}

<div id="cajaVacia">No hay novedades cargadas</div>

{{/if}}

{{#unless tablaVacia}}

{{#each novedades}}

<div class="cajaNovedad">
    <table class="tablaNovedad">
        <tr>
            <td>ID NOVEDAD</td>
            <td>{{id_novedad}}</td>
        </tr>    
        <tr>
            <td>TITULO</td>
            <td>{{titulo}}</td>
        </tr>
        <tr>
            <td>SUBTITULO</td>
            <td>{{subtitulo}}</td>
        </tr>
        <tr>
            <td>CONTENIDO</td>
            <td id="contenido">{{contenido}}</td>
        </tr>
        <tr>
            <td>FECHA</td>
            <td>{{fecha}}</td>
        </tr>
    
    </table>

    <div class="baseNovedad">
        <a href="/admin/novedades/modificar/{{id_novedad}}">modificar</a>
        <a href="/admin/novedades/eliminar/{{id_novedad}}">eliminar</a>
    </div>

</div>

{{/each}}

{{/unless}}